a {
  text-decoration: none;
  color: black;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}

.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.rounded-4 {
  border-radius: 0.5rem;
}

.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.parent {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}

/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

/* Hover Effects And Colour */

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  /* .navbar .nav-item:hover .nav-link {
        color: #249dad !important;
    } */
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

/* Navbar Toggler Cross Symbol for Mobile */

.navbar-toggler span {
  display: block;
  background-color: #000;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.2s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

/* Image shadow + Round Corner  && Custom Class Made*/

.img-shadow {
  box-shadow: rgb(0 0 0 / 30%) 15px 25px 30px;
  border-radius: 25px;
}

/* What is Ecell Text Width Adjustment */

.shrink-header {
  max-width: 950px;
}

/* Elevate on Hover (Use item class for further reference) */

.item {
  display: flex;
  transition: transform ease 300ms;
}

.item:hover {
  transform: translate(0, -10px);
  box-shadow: rgb(0 0 0 / 20%) 5px 15px 20px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
/* to remove all the resedual margins */

.text-center {
  text-align: center;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* works along cross axis */
}

.top-and-bottom-margin {
  margin: 50px 0px;
}

section:nth-child(2n) {
  background-color: rgb(245, 244, 244);
}

section:nth-child(2n + 1) {
  background-color: white;
}

.section-heading {
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
}

.section-heading span {
  font-size: 40px;
  color: red;
  display: inline-block;
}

.section-heading span img {
  width: 40px;
  height: 40px;
  /* to adjust skills image size */
}
/* skills */

/* Real Timeline */
.timeline_area {
  position: relative;
  z-index: 1;
}
.single-timeline-area {
  position: relative;
  z-index: 1;
  padding-left: 180px;
}

.single-timeline-content {
  height: 225px;
}

@media only screen and (max-width: 575px) {
  .single-timeline-area {
    padding-left: 100px;
  }
}
.single-timeline-area .timeline-date {
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 60px;
}
@media only screen and (max-width: 575px) {
  .single-timeline-area .timeline-date {
    width: 100px;
  }
}
.single-timeline-area .timeline-date::after {
  position: absolute;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #ebebeb;
  top: 0;
  right: 30px;
  z-index: 1;
}
.single-timeline-area .timeline-date::before {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(49, 108, 244);
  content: "";
  top: 50%;
  right: 26px;
  z-index: 5;
  margin-top: -5.5px;
}
.single-timeline-area .timeline-date p {
  margin-bottom: 0;
  color: #020710;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}
.single-timeline-area .single-timeline-content {
  position: relative;
  z-index: 1;
  padding: 30px 30px 25px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  border: 1px solid #ebebeb;
}
@media only screen and (max-width: 575px) {
  .single-timeline-area .single-timeline-content {
    padding: 20px;
  }
}
.single-timeline-area .single-timeline-content .timeline-icon {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 30px;
  height: 30px;
  background-color: rgb(49, 108, 244);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  text-align: center;
  max-width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
.single-timeline-area .single-timeline-content .timeline-icon i {
  color: #ffffff;
  line-height: 30px;
}
.single-timeline-area .single-timeline-content .timeline-text h6 {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.single-timeline-area .single-timeline-content .timeline-text p {
  font-size: 13px;
  margin-bottom: 0;
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
  background-color: #020710;
}
.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
  color: #3f43fd;
}

/* timeline */
/* 
.timeline-divider {
  position: absolute;
  height: 90%;
  width: 0%;
  border: 1px dashed #784eff;
  top: 5%;
  left: 50%;
}

.timeline-traveller {
  position: sticky;
  top: 20%;
  transform: rotate(90deg);
  z-index: 2;
}

.timeline {
  position: relative;
  width: 75%;
}

.timeline-box {
  position: relative;
  width: 46%;
  min-height: 150px;
  background-color: rgb(245, 245, 245);
  margin: 5px;
  left: -5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.timeline-box:nth-child(2n + 1)::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -19.5%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  z-index: 1;
}

.timeline-box:nth-child(2n)::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -19.5%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  z-index: 1;
}

.timeline-box:nth-child(2n + 1) {
  align-items: flex-end;
}

.timeline-box:nth-child(2n) {
  left: 58%;
}

.timeline-box:nth-child(2n + 1) .timeline-box-headings span:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.timeline-box:nth-child(2n) .timeline-box-headings span:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-box-headings span img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.timeline-box-title {
  color: #0000a9;
  font-weight: 900;
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
  overflow-wrap: break-word;
}

.timeline-box-headings {
  display: flex;
  flex-direction: row;
}

.timeline-box-title:nth-child(2n + 1) {
  text-align: right;
}

.timeline-box-title:nth-child(2n) {
  text-align: left;
} */
/* .timeline-box:nth-child(2n+1) .timeline-box-headings span:nth-child(2)
{
    position:relative;
    align-items:flex-end;
    flex-wrap: wrap;
    margin: 13px;
}
.timeline-box:nth-child(2n) .timeline-box-headings span:nth-child(2)
{
    position:relative;
    align-items:flex-start;
} */
/* .timeline-box-company-name {
  color: rgb(0, 0, 0);
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}

.timeline-box-duration {
  color: darkslategrey;
}

.timeline-box-headings {
  margin: 20px;
}

.timeline-box-description {
  margin: auto auto 20px;
  width: 80%;
  text-align: justify;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .timeline-divider {
    left: 5%;
  }
  .timeline-box {
    left: 12% !important;
    width: 80%;
  } */
/* .timeline-box:nth-child(2n) {
        left: 12%;
    } */
/* .timeline-box:nth-child(2n + 1) {
    align-items: flex-start;
  }
  .timeline-box::after {
    left: -10.5% !important;
  } */
/* .timeline-box:nth-child(2n+1)::after {
        left: -10.5%;
    }
    .timeline-box:nth-child(2n)::after {
        left: -10.5%;
    } */
/* html {
    font-size: 15px;
  }
  .timeline-box:nth-child(2n + 1) .timeline-box-headings span:nth-child(2) {
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 600px) {
  .timeline-divider {
    left: 5%;
  }
  .timeline-box {
    left: 12% !important;
    width: 80%;
  } */
/* .timeline-box:nth-child(2n) {
        left: 12%;
    } */
/* .timeline-box:nth-child(2n + 1) {
    align-items: flex-start;
  }
  .timeline-box::after {
    left: -11.5% !important;
  } */
/* .timeline-box:nth-child(2n+1)::after {
        left: -10.5%;
    }
    .timeline-box:nth-child(2n)::after {
        left: -10.5%;
    } */
/* html {
    font-size: 15px;
  }
  .timeline-box:nth-child(2n + 1) .timeline-box-headings span:nth-child(2) {
    align-items: flex-start !important;
  }
} */
